@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Concert+One&family=Fredoka:wght@300..700&family=Jersey+15&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

@font-face {
    font-family: "Suahbi Regular";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Font_by_suahbi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Serif";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Suaserif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Capslock";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Vividlyviethoa-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Caligraphy";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/suahocbai1.otf) format('opentype');
}

@font-face {
    font-family: Hogfish;
    src: url(./fonts/DFVN\ HOGFISH.OTF) format('opentype');
}

@font-face {
    font-family: HeadingNow-31;
    src: url(./fonts/HeadingNow-31Thin.otf) format('opentype');
}

@font-face {
    font-family: HeadingNow-33;
    src: url(./fonts/HeadingNow-33Book.otf) format(opentype);
}

@font-face {
    font-family: Pecita;
    src: url(./fonts/Pecita.otf) format(opentype);
}

* {
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: antiquewhite;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all 10s;
}

.background .fa-heart {
    position: absolute;
    font-size: 20rem;
    color: rgb(158, 46, 72);
}

.musicplayer {
    position: absolute;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
    border-radius: 10px;
    will-change: transform;
    pointer-events: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 3;
}

.container .container-sentence {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    position: absolute;
    font-family: "Suahbi Caligraphy", "Suahbi Regular", Pecita;
    font-size: 26rem;
    font-weight: 1000;
    color: lightgrey;
    text-shadow: 0 0 10px black, 0 0 20px lightgrey, 0 0 30px lightgrey;
    line-height: 19rem;
    letter-spacing: 5px;
}

.container-sentence .word {
    display: inline-block;
    margin: 0 1rem;
    white-space: nowrap;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    10% {
        opacity: 1;
    }
    
    85% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@keyframes zoom {
    0% {
        scale: 0.9;
    }

    100% {
        scale: 1;
    }
}

@keyframes zoomHeart {
    0% {
        scale: 0;
    }

    100% {
        scale: 10;
    }
}

@keyframes gentle-shake {
  0% { transform: translateX(0) translateY(0); }
  10% { transform: translateX(2px) translateY(-1px);}
  20% { transform: translateX(-3px) translateY(2px); }
  30% { transform: translateX(-2px) translateY(1px); }
  40% { transform: translateX(4px) translateY(-3px); }
  50% { transform: translateX(3px) translateY(-2px); }
  60% { transform: translateX(-2px) translateY(1px); }
  70% { transform: translateX(-1px) translateY(0); }
  80% { transform: translateX(3px) translateY(2px); }
  90% { transform: translateX(4px) translateY(3px); }
  100% { transform: translateX(0) translateY(0); }
}

@keyframes pink-color {
    0% {
        color: lightgrey;
    }

    100% {
        color: lightpink;
    }
}