@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Concert+One&family=Fredoka:wght@300..700&family=Jersey+15&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

@font-face {
    font-family: "Suahbi Regular";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Font_by_suahbi-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Serif";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Suaserif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Capslock";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/Vividlyviethoa-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Suahbi Caligraphy";
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/suahocbai1.otf) format('opentype');
}

@font-face {
    font-family: Hogfish;
    src: url(./fonts/DFVN\ HOGFISH.OTF) format('opentype');
}

@font-face {
    font-family: HeadingNow-31;
    src: url(./fonts/HeadingNow-31Thin.otf) format('opentype');
}

* {
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgb(26, 26, 26);
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.musicplayer {
    position: absolute;
    filter: drop-shadow(0 0 20px rgb(0, 0, 0));
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 30%;
    z-index: 3;
}

.container .container-sentence {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    font-family: "Suahbi Caligraphy", "Suahbi Regular";
    font-size: 16rem;
    font-weight: 1000;
    /* background: linear-gradient(45deg, white, rgb(145, 145, 145), rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: lightgrey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px black, 0 0 20px white;
    line-height: 14rem;
    letter-spacing: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* scale: 1.1; */
    }
    
    15% {
        opacity: 1;
    }

    30% {
        /* scale: 1; */
    }
    
    85% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
        /* scale: 1; */
    }
}